appdirs==1.4.3
asgiref==3.8.1
bcrypt==3.1.7
blinker==1.8.2
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==8.1.7
colorama==0.4.3
cryptography==2.8
diff-match-patch==20241021
distlib==0.3.0
distro==1.4.0
Django==4.1.12
django-admin-adminlte==1.0.5
django-import-export==4.1.1
django-tenants==3.7.0
entrypoints==0.3
fasteners==0.14.1
filelock==3.0.12
flask==3.0.
